---
import { Image } from "astro:assets";
import readingImage from "/assets/images/fluent-mdl2--reading-mode.svg";
import viewsImage from "/assets/images/ph--eyes-fill-rotated.svg";
// import ViewShow from "./ViewShow.astro";
import Btn from "../components/Button.astro";
const { title, url, url2, hero, summary, description, readingTime } =
  Astro.props;
---

<article>
  <div class="grid">
    <div class="image-main">
      <Image src={hero} alt={title} />
    </div>
    <div class="text-block">
      <h2>{title}</h2>
      <h3>{description}</h3>
      <h4>
        <Image src={readingImage} alt="Reading Icon" />
        {readingTime} minute read | <Image src={viewsImage} alt="Views Icon" />
        <!-- <ViewShow slug={url2} /> views <br /> -->
      </h4>
      <p>{summary}</p>
      <Btn buttonlink={url} , buttontext="Read Article" />
    </div>
  </div>
</article>

<style lang="scss">
  article {
    padding-left: 0%;
    padding-right: 0%;
  }
  .grid {
    grid-template-columns: repeat(6, 1fr);
  }
  .image-main {
    grid-column: 1/3;
    margin-left: 0.5em;
    & img {
      width: 100%;
      padding: 0.5em;
      $shadow-color: #f4f4f4;
    }
  }

  .image-main {
    grid-row: 1/2;
  }
  .text-block {
    grid-column: 3/7;
    padding: 0 1em;
  }
  @media screen and (min-width: 769px) {
    h2,
    h3,
    h4,
    h5 {
      margin-top: 0;
      margin-bottom: 1rem;
      font-size: calc(var(--pico-font-size) * 0.75);
      line-height: calc(var(--pico-line-height) * 0.75);
    }
  }
  @media screen and (max-width: 768px) {
    .grid {
      display: block;
    }
  }
</style>
